# BACKEND

# API
API_TITLE=
API_VERSION=
API_DOCS_URL=
BASE_URL=
CORS_ORIGIN=
FRONTEND_URL=

# Database
MONGO_URL=
MONGO_DB=

# Auth
ACCESS_TOKEN_EXPIRE_MINUTES=
RESET_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
ALGORITHM=
SECRET_KEY=

# ApiKey
MAX_API_KEY_COUNT=

# Mail
MAIL_FROM=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
USE_TLS=

# FRONTEND
VITE_API_BASE_URL=

# DATABASE
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=
