# ---

# API
API_TITLE=
API_VERSION=
API_DOCS_URL=
BASE_URL=
CORS_ORIGIN=
FRONTEND_URL=

# ---

# Database
MONGO_URL=
MONGO_DB=

# ---

# LOCALAUTH
# Auth
ACCESS_TOKEN_EXPIRE_MINUTES=
RESET_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
ALGORITHM=
SECRET_KEY=

# OAUTH
# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=

# ---

# ApiKey
MAX_API_KEY_COUNT=

# ---

# Mail
MAIL_FROM=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
USE_TLS=

# ---